// Variables
@import "variables";
// Bootstrap
@import "resources/assets/stylesheets/bootstrap";
@import "resources/assets/mdb-sass/mdb.scss";
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

/*header*/
.logo{
	padding-left: 100px;
	width: 380px;
	height: auto;
}
#header{
	margin-top: 20px;
}

.btn{
	width: 300px;
	font-size:16px;
	border-radius:10px;
}
/*menu*/
body,html{
	height: 100%;
	text-decoration: none;
    
	font-family: 'Patrick Hand', cursive;
}
nav.sidebar, .main{
    position: fixed;
	font-size: 16px;
	border-radius:10px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	margin-top: 20px;	
}
.main{
	position: absolute;
	width: calc(100% - 40px);
	margin-left: 40px;
	float: right;
	background-color: #212121;
}
nav.sidebar:hover + .main{
	margin-left: 200px;
}
nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
        text-align: center;
        width: 100%;
        margin-left: 0px;
}
nav.sidebar .navbar-nav > li:first-child{
        border-top: 1px #e5e5e5 solid;
}
nav.sidebar .navbar-nav > li{
        border-bottom: 1px #e5e5e5 solid;
}
nav.sidebar .navbar-nav > li:last-child{
        border-bottom:none;
}
nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        background-color: #212121;
}
nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
        padding: 0 0px 0 0px;
}
nav.sidebar{
        width: 200px;
        margin-left: -160px;
        float: left;
        z-index: 8000;
}
nav.sidebar:hover{
        margin-left: 10px;
}
nav.sidebar li {
        width: 100%;
}
.icone {
	width: 16px;
	float: right;
	padding-top: 3px;
	margin-right: -10px;
}
#maison {
	width: 16px;
	float: right;
	padding-top: 3px;
	margin-right: -24px;
}
/*Fin menu*/
/*Modal*/
.panel-heading {
	color:#9d9d9d;
}
.liste{
	text-decoration: none;
}
#bouton-panier{
	width: 150px;
	color: #9d9d9d;
	background-color: black;
	font-size: 16px;
}
.modal-content{
	background-color: #212121;
	color: #9d9d9d;
	font-size:14px;
	border-radius: 10px;
    text-align: center;
}
.modal-sm{
	width: 450px;
}
.toto{
	padding-right:150px;
}

.control-label{
	font-size:16px;
	font-weight:normal;
}
.titrage:hover{
	color:white;

}
.close{
	color:white;
	opacity:1;
	text-shadow: none;
}

#fbook{
	background-color:#3B5998;
	color:white;
}
#gplus{
	background-color:#DD4B39;
	color:white;
}
/*Fin modal*/
/*Miniature*/
.view {
    width: 216px;
    height: 294px;
    margin-left: 30px;
    margin-top: 30px;
    display: inline-block;
    border: 5px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 10px;
      
}
.view .mask, .view .content {
    height: 294px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    color:#9d9d9d;
}
.view img {
    display: block;
    position: relative;
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: #212121;
    margin: 20px 0 0 0;
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 15px 15px 5px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 16px;
    background: #000;
    text-transform: uppercase;
    border-radius: 80px;
    font-size: 20px;
}
.view a.info:hover {
    box-shadow: 0 0 5px #9d9d9d;
}
.view-fifth img {
	transition: all 0.3s ease-in-out; 
}
.view-fifth .mask { 
	background-color: #3b3b3b;
	transform: translateX(-300px);
	opacity: 1;
	transition: all 0.4s ease-in-out; 
}
.view-fifth h2{
    background: #212121;
    color: #9d9d9d;
    box-shadow: 0 0 5px #9d9d9d;
}
.view-fifth p{
    opacity: 0;
    color: #9d9d9d;
    transition: all 0.2s linear;
}
.view-fifth:hover .mask { 
	transform: translateX(0px);
}						
.view-fifth:hover img { 
	transform: translateX(300px);
	transition-delay: 0.1s;
}
.view-fifth:hover p{
    opacity: 1;
    transition-delay: 0.4s;
}
.mini{
    text-align: center;
}
/*Fin miniature*/
/*Footer*/
.footer {
	background: #212121;
	height: 220px;
	padding-bottom: 10px;
	padding-top:0px;
	position: relative;
	width: 100%;
	margin-top: 25px;
	box-shadow: 0 0 5px 0 #000;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #9d9d9d;
	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	color: #9d9d9d;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #9d9d9d;
}
/*Fin footer*/
/*Formulaire contact*/
#comment{
	height: 250px;
	background-color: #3b3b3b;
	border: 0px;
	border-radius: 10px;

	//box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(221, 221, 221, 0.6);
}
#bordure{
	border-right: 1px dotted #C2C2C2;
	padding-right: 0px; 
	width: 500px;
	margin-right: 10px;
}
#demande{
	border-radius: 10px;
	border: 0px;
}
/*Fin formulaire contact*/
/*Profil*/
body{
  padding-top:25px !important;
}
.stats {
  text-align:center;
  text-shadow:1px 1px 0px #fff;
  margin-top:25px;  
  
}
.stats li{
  width:125px; 
}
.stats span{
  font-family:Helvetica;
  font-weight:bold;
  text-shadow:1px 1px 0px #fff;
  font-size:4em;
  display:block;
  line-height:1em;
}
.img-polaroid{
	width: 100px;
	height: 100px;
}

@media (min-width: 1200px) { 
}
@media (min-width: 768px) and (max-width: 979px) { 
}
@media (max-width: 767px) { 
  .profile img{
    width:75px;
  }
  .profile h2{
    font-size:1.7em;
  }
  .stats span{
    font-size: 2em;
  }
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
}
/*Fin profil*/
