// Variables
@import "variables";
// Bootstrap
@import "resources/assets/stylesheets/bootstrap";
@import "resources/assets/mdb-sass/mdb.scss";
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

/*header*/
.logo{
	width: 380px;
	height: auto;
	text-align:center;
}
#logo{
	text-align: center;
	}
#header{
	margin-top: 10px;
}

.btn{
	width: 100%;
	font-size:16px;
	border-radius:10px;
}
#comment{
	border-bottom: 1px solid #212121;
	border-color: #dddddd;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(221, 221, 221, 0.6);
	outline: none;
}
.lapication{
	margin:20px;
}
input[type=text],
input[type=password],
input[type=email]{
	background-color:#3b3b3b;
}
input[type=search]{
	border-style: solid;
	border-width: 5px;
	border-color:#222222;
	color:#3b3b3b;
}

/*Menu*/
#navbar{
    position:fixed;
    z-index: 1;
    margin-left: 15px;
}
body,html{
	width:100%;
	font-family: 'Patrick Hand', cursive;
	font-size: 16px;
}
.icone {
	width: 20px;
	float: right;
	padding-top: 3px;
	margin-right: -4px;
}
	/* remove outer padding */
.main .row{
	padding: 0px;
	margin: 0px;
}
	/*Remove rounded coners*/
nav.sidebar.navbar {
	border-radius: 10px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
nav.sidebar, .main{
	-webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}
	/* Add gap to nav and right windows.*/
.main{
	padding: 10px 10px 0 10px;
	}

@media (min-width: 992px) {
	nav.sidebar.navbar {
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}	
	/*Allow main to be next to Nav*/
	.main{
		position: absolute;
		width: calc(100% - 40px); /*keeps 100% minus nav size*/
		margin-left: 40px;
		float: right;
	}
	.icone {
		width: 20px;
		float: right;
		padding-top: 3px;
		margin-right: 0px;
		margin-left:10px;
	}
	/*lets nav bar to be showed on mouseover*/
	nav.sidebar:hover + .main{
		margin-left: 200px;
	}
	/*Center Brand*/
	nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: 0px;
	}
	/*Center Brand*/
	nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
		text-align: center;
		width: 100%;
		margin-left: 0px;
	}
	/*Center Icons*/
	nav.sidebar a{
		padding-right: 13px;
	}
	/*adds border top to first nav box */
	nav.sidebar .navbar-nav > li:first-child{
		border-top: 1px #e5e5e5 solid;
	}
	nav.sidebar .navbar-nav > li:last-child{
        border-bottom:none;
	}
	/*adds border to bottom nav boxes*/
	nav.sidebar .navbar-nav > li{
		border-bottom: 1px #e5e5e5 solid;
	}
	/* Colors/style dropdown box*/
	nav.sidebar .navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	/*allows nav box to use 100% width*/
	nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
		padding: 0 0px 0 0px;
	}
	/*gives sidebar width/height*/
	nav.sidebar{
		width: 200px;
		height: 100%;
		margin-left: -160px;
		float: left;
		z-index: 8000;
		margin-bottom: 0px;
	}
	/*give sidebar 100% width;*/
	nav.sidebar li {
		width: 100%;
	}
	/* Move nav to full on mouse over*/
	nav.sidebar:hover{
		margin-left: 0px;
		border-radius:10px;
		border-bottom-left-radius: 0px;
		border-top-left-radius: 0px;
	}
	/*for hiden things when navbar hidden*/
	.forAnimate{
		opacity: 0;
	}
}

@media (min-width: 2400px) {
	/*Allow main to be next to Nav*/
	.main{
		width: calc(100% - 200px); /*keeps 100% minus nav size*/
		margin-left: 200px;
	}
	/*Show all nav*/
	nav.sidebar{
		margin-left: 0px;
		float: left;
	}
	/*Show hidden items on nav*/
	nav.sidebar .forAnimate{
		opacity: 1;
	}
	.btn{
		width: 300px;
		font-size:16px;
		border-radius:10px;
	}
}

/*Fin menu*/
/*Modal*/
.panel-heading {
	color:#9d9d9d;
}
.liste{
	text-decoration: none;
}
#bouton-panier{
	width: 150px;
	color: #9d9d9d;
	background-color: black;
	font-size: 16px;
}
.modal-content{
	padding:15px; 
	background-color: #222222;
	color: #9d9d9d;
	font-size:14px;
	border-radius: 10px;
    text-align: center;
}
.modal-sm{
	width: 450px;
}
.control-label{
	font-size:16px;
	font-weight:normal;
}
.titrage:hover{
	color:white;
}
.close{
	color:white;
	opacity:1;
	text-shadow: none;
}
/*Fin modal*/
/*Miniature*/
.view {
    width: 216px;
    height: 294px;
    margin-left: 30px;
    margin-top: 30px;
    display: inline-block;
    border: 5px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}
.view .mask, .view .content {
    height: 294px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    color:#9d9d9d;
}
.view img {
    display: block;
    position: relative;
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: #222222;
    margin: 20px 0 0 0;
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 15px 15px 5px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 16px;
    background: #000;
    text-transform: uppercase;
    border-radius: 80px;
    font-size: 20px;
}
.view a.info:hover {
    box-shadow: 0 0 5px #9d9d9d;
}
.view-fifth img {
	transition: all 0.3s ease-in-out; 
}
.view-fifth .mask { 
	background-color: #3b3b3b;
	transform: translateX(-300px);
	opacity: 1;
	transition: all 0.4s ease-in-out; 
}
.view-fifth h2{
    background: #222222;
    color: #9d9d9d;
    box-shadow: 0 0 5px #9d9d9d;
}
.view-fifth p{
    opacity: 0;
    color: #9d9d9d;
    transition: all 0.2s linear;
}
.view-fifth:hover .mask { 
	transform: translateX(0px);
}						
.view-fifth:hover img { 
	transform: translateX(300px);
	transition-delay: 0.1s;
}
.view-fifth:hover p{
    opacity: 1;
    transition-delay: 0.4s;
}
.mini{
    text-align: center;
}
/*Fin miniature*/
/*Footer*/
.footer {
	padding-left:15px;
	padding-right:15px;
	background: #222222;
	padding-bottom: 10px;
	padding-top:0px;
	position: relative;
	width: 100%;
	margin-top: 25px;
	box-shadow: 0 0 5px 0 #000;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #9d9d9d;
	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	color: #9d9d9d;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #9d9d9d;
}
/*Fin footer*/
/*Formulaire contact*/
#comment{
	height: 250px;
	background-color: #3b3b3b;
	border: 0px;
	border-radius: 10px;

	//box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(221, 221, 221, 0.6);
}
#bordure{
	border-right: 1px dotted #C2C2C2;
	padding-right: 0px; 
	width: 300px;
	margin-right: 10px;
}
#demande{
	border-radius: 10px;
	border: 0px;
	width: 97%;
    margin-left: 5px;
}
/*Fin formulaire contact*/



@media (max-width: 991px) {
	#trash{
		padding-left: 2px;
    	margin-left: 30px;
	}
	#shop{
		border: 1px solid white;
		margin-top: -5px;
		margin-bottom: 5px;
	}
	#added{
		vertical-align:center;
	}
	#check{
		border: 1px solid green;
	}
	#order{
		border: 1px solid cyan;
		width: 90%;
	}
	#navbar{
   		width:95%;
	}	
	nav.sidebar.navbar {
		border-radius: 0px;
		border-bottom-left-radius: 0px;
		border-top-left-radius: 0px;
	}
	#header {
    	margin-top: 60px;
	}
	.icone {
		width: 20px;
		float: right;
		padding-top: 3px;
		margin-right: 0px;
		margin-left:10px;
	}
	nav.sidebar.navbar {
		margin-right: -25px;
		border-radius: 0px;	
	}
}

@media (min-width: 1200px) {
		
}

@media (min-width: 768px){ 
	.icone {
		width: 20px;
		float: right;
		padding-top: 3px;
		margin-right: 0px;
		margin-left: 10px;
	}

/*debut panier*/
	.panel{
		background-color:#222222;
	}
	#trash{
		padding-left: 2px;
    	margin-left: 30px;
	}
	#shop{
		border: 1px solid white;
		margin-top: -5px;
		margin-bottom: 5px;
	}
	#added{
		vertical-align:center;
	}
	#check{
		border: 1px solid green;
	}
	#order{
		border: 1px solid cyan;
		width: 90%;
	}
}

/*Barre de recherche*/
.flexsearch-wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}
	
.flexsearch-form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch-input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;
}

.flexsearch-input {
  	width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
  	padding: 0 25px 0 200px; /* Padding for other horizontal elements */
}

.flexsearch-input {
 	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 60px;
  	padding: 0 46px 0 10px;
	border-color: #222222;
  	border-radius: 10px; /* (height/2) + border-width */
  	border-style: solid;
	border-width: 5px;
  	margin-top: 15px;
  	color: #222222;
  	font-family: 'Helvetica', sans-serif;
	font-size: 26px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
	
/*.flexsearch-submit {
  	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 60px;
	height: 60px;
  	padding: 0;
  	border: none;
	margin-top: 20px;
  	margin-right: 5px;
	background: transparent;
  	color: #222222;
  	font-family: 'Helvetica', sans-serif;
  	font-size: 40px;
  	line-height: 60px;
}*/

.flexsearch-input:focus {
  	outline: none;
  	border-color: #9d9d9d;
}

.flexsearch-input:focus.flexsearch-submit {
 	color: #9d9d9d; 
}

.flexsearch-submit:hover {
  	color: #9d9d9d;
  	cursor: pointer;
}

::-webkit-input-placeholder {
	color: #9d9d9d;  
}

input:-moz-placeholder {
  	color: #9d9d9d;
}
/*Profil*/

.stats {
	text-align:center;
	//text-shadow:1px 1px 0px #fff;
	margin-top:25px;  
}
.stats li{
  	width:125px; 
}
.stats span{
	font-weight:bold;
	//text-shadow:1px 1px 0px #fff;
	font-size:4em;
	display:block;
	line-height:1em;
	color:#9d9d9d;
}
.profile img{
	width:175px;
	border-radius:10px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(221, 221, 221, 0.6);
}
.profile h2{
	font-size:1.7em;
}
.span12{
	width:250px;
	height:auto;
	text-align:center;
	margin-top: 25px;
}
.span6{
	color:#9d9d9d;
	padding-left:40px;
}
.span4{
	color:#9d9d9d;
}
.well{
	background-color:#222222;
	border-radius:10px;
}
.panel-default{
	background-color:white;
	border-radius:10px;
}
#headingTwo, #headingThree, #headingFour, #headingFive {
	color:#9d9d9d;
}
.panel-group{
	//width:400px;
	margin-top:25px; 
}
.livres{
	text-align: center;
}
