// Variables
@import "variables";
// Bootstrap
@import "resources/assets/stylesheets/bootstrap";
@import "resources/assets/mdb-sass/mdb.scss";
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

/*header*/
.logo{
	padding-left: 100px;
	width: 380px;
	height: auto;
}
#header{
	margin-top: 10px;
}

.btn{
	width: 100%;
	font-size:16px;
	border-radius:10px;
}

/*Menu*/

body,html{
	font-family: 'Patrick Hand', cursive;
	font-size: 16px;
}
.icone {
	width: 20px;
	float: right;
	padding-top: 3px;
	margin-right: -4px;
}

	/* remove outer padding */
.main .row{
	padding: 0px;
	margin: 0px;
}

	/*Remove rounded coners*/
nav.sidebar.navbar {
	border-radius: 10px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}
nav.sidebar, .main{
	-webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

	/* Add gap to nav and right windows.*/
.main{
	padding: 10px 10px 0 10px;
	}

/* .....NavBar: Icon only with coloring/layout.....*/
	/*small/medium side display*/
@media (min-width: 992px) {

	/*Allow main to be next to Nav*/
	.main{
		position: absolute;
		width: calc(100% - 40px); /*keeps 100% minus nav size*/
		margin-left: 40px;
		float: right;

	}
	.icone {
		width: 20px;
		float: right;
		padding-top: 3px;
		margin-right: 0px;
		margin-left:10px;
	}
	.footer {
		height: 560px;
	}

	/*lets nav bar to be showed on mouseover*/
	nav.sidebar:hover + .main{
		margin-left: 200px;
	}
	/*Center Brand*/
	nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: 0px;

	}
	/*Center Brand*/
	nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
		text-align: center;
		width: 100%;
		margin-left: 0px;
	}
	/*Center Icons*/
	nav.sidebar a{
		padding-right: 13px;
	}
	/*adds border top to first nav box */
	nav.sidebar .navbar-nav > li:first-child{
		border-top: 1px #e5e5e5 solid;
	}
	nav.sidebar .navbar-nav > li:last-child{
        border-bottom:none;
	}
	/*adds border to bottom nav boxes*/
	nav.sidebar .navbar-nav > li{
		border-bottom: 1px #e5e5e5 solid;
	}
	/* Colors/style dropdown box*/
	nav.sidebar .navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	/*allows nav box to use 100% width*/
	nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
		padding: 0 0px 0 0px;
	}

	/*gives sidebar width/height*/
	nav.sidebar{
		width: 200px;
		height: 100%;
		margin-left: -160px;
		float: left;
		z-index: 8000;
		margin-bottom: 0px;
	}
	/*give sidebar 100% width;*/
	nav.sidebar li {
		width: 100%;
	}
	/* Move nav to full on mouse over*/
	nav.sidebar:hover{
		margin-left: 0px;
		border-radius:10px;
		border-bottom-left-radius: 0px;
		border-top-left-radius: 0px;

	}
	/*for hiden things when navbar hidden*/
	.forAnimate{
		opacity: 0;
	}
}

/* .....NavBar: Fully showing nav bar..... */
@media (min-width: 2400px) {
	/*Allow main to be next to Nav*/
	.main{
		width: calc(100% - 200px); /*keeps 100% minus nav size*/
		margin-left: 200px;
	}
	/*Show all nav*/
	nav.sidebar{
		margin-left: 0px;
		float: left;
	}
	/*Show hidden items on nav*/
	nav.sidebar .forAnimate{
		opacity: 1;
	}
	.btn{
	width: 300px;
	font-size:16px;
	border-radius:10px;
	}
}

/*Fin menu*/
/*Modal*/
.panel-heading {
	color:#9d9d9d;
}
.liste{
	text-decoration: none;
}
#bouton-panier{
	width: 150px;
	color: #9d9d9d;
	background-color: black;
	font-size: 16px;
}
.modal-content{
	background-color: #222222;
	color: #9d9d9d;
	font-size:14px;
	border-radius: 10px;
    text-align: center;
}
.modal-sm{
	width: 450px;
}
.toto{
	padding-right:150px;
}

.control-label{
	font-size:16px;
	font-weight:normal;
}
.titrage:hover{
	color:white;

}
.close{
	color:white;
	opacity:1;
	text-shadow: none;
}

#fbook{
	background-color:#3B5998;
	color:white;
}
#gplus{
	background-color:#DD4B39;
	color:white;
}
/*Fin modal*/
/*Miniature*/
.view {
    width: 216px;
    height: 294px;
    margin-left: 30px;
    margin-top: 30px;
    display: inline-block;
    border: 5px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 10px;
      
}
.view .mask, .view .content {
    height: 294px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    color:#9d9d9d;
}
.view img {
    display: block;
    position: relative;
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: #222222;
    margin: 20px 0 0 0;
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 15px 15px 5px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 16px;
    background: #000;
    text-transform: uppercase;
    border-radius: 80px;
    font-size: 20px;
}
.view a.info:hover {
    box-shadow: 0 0 5px #9d9d9d;
}
.view-fifth img {
	transition: all 0.3s ease-in-out; 
}
.view-fifth .mask { 
	background-color: #3b3b3b;
	transform: translateX(-300px);
	opacity: 1;
	transition: all 0.4s ease-in-out; 
}
.view-fifth h2{
    background: #222222;
    color: #9d9d9d;
    box-shadow: 0 0 5px #9d9d9d;
}
.view-fifth p{
    opacity: 0;
    color: #9d9d9d;
    transition: all 0.2s linear;
}
.view-fifth:hover .mask { 
	transform: translateX(0px);
}						
.view-fifth:hover img { 
	transform: translateX(300px);
	transition-delay: 0.1s;
}
.view-fifth:hover p{
    opacity: 1;
    transition-delay: 0.4s;
}
.mini{
    text-align: center;
}
/*Fin miniature*/
/*Footer*/
.footer {
	background: #222222;
	height: 220px;
	padding-bottom: 10px;
	padding-top:0px;
	position: relative;
	width: 100%;
	margin-top: 25px;
	box-shadow: 0 0 5px 0 #000;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #9d9d9d;
	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	color: #9d9d9d;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #9d9d9d;
}
/*Fin footer*/
/*Formulaire contact*/
#comment{
	height: 250px;
	background-color: #3b3b3b;
	border: 0px;
	border-radius: 10px;

	//box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(221, 221, 221, 0.6);
}
#bordure{
	border-right: 1px dotted #C2C2C2;
	padding-right: 0px; 
	width: 300px;
	margin-right: 10px;
}
#demande{
	border-radius: 10px;
	border: 0px;
	width: 97%;
    margin-left: 5px;
}
/*Fin formulaire contact*/
/*Profil*/
body{
  padding-top:25px !important;
}
.stats {
  text-align:center;
  text-shadow:1px 1px 0px #fff;
  margin-top:25px;  
  
}
.stats li{
  width:125px; 
}
.stats span{
  font-family:Helvetica;
  font-weight:bold;
  text-shadow:1px 1px 0px #fff;
  font-size:4em;
  display:block;
  line-height:1em;
}
.img-polaroid{
	width: 100px;
	height: 100px;
}

@media (max-width: 767px) {

	nav.sidebar.navbar {
		border-radius: 0px;
		border-bottom-left-radius: 0px;
		border-top-left-radius: 0px;
	  		.profile img{
	    width:75px;
	  	}
	  		.profile h2{
	    font-size:1.7em;
	 	}
	  		.stats span{
	    font-size: 2em;
	  	}
	}
		.icone {
		width: 20px;
		float: right;
		padding-top: 3px;
		margin-right: 0px;
		margin-left:10px;
	}
		.footer {
		height: 560px;
	}
}
@media (min-width: 1200px) {

	}
@media (min-width: 768px) and (max-width: 979px) { 
		.icone {
		width: 20px;
		float: right;
		padding-top: 3px;
		margin-right: 0px;
		margin-left:10px;
	}
		.footer {
		height: 560px;
	}
}
 
/* Landscape phones and down */

/*Fin profil*/
